html {
    box-sizing: border-box;
    background: #eaecfa;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
   font-family: sans-serif;
       padding: 0;
    margin: 0;

}

.hide-elm{
	display: none;
}