.list-by {
    height: 20px;
    text-align: center;
    margin-bottom: 2px;
}
.list-by div {
    display: inline-block;
    border-radius: 4px;
    margin-right: 5px;
    cursor: pointer;
    margin-left: 5px;
}
.sort-by {
    background: #fff;
    color: #333;
    border: 1px solid #333;
    font-size: 13px;
    height: 20px;
    padding: 0px 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
}
.sort-by:hover {
    color: #00d8ff;
    border-color: #00d8ff;
}
.selected {
    color: #fff!important;
    background: #00d8ff border: 1px solid #00d8ff;
}